@media screen and (max-width: 1200px) {
    #about-me .left {
        display: flex;
        align-items: flex-end;
    }
}

@media screen and (max-width: 1131px) {

    #first-section .cutom-button {
        margin-bottom: 50px;
        display: inline-block;
    }

}



@media screen and (max-width: 768px) {

    #first-section .cutom-button {
        margin-bottom: 50px;
        display: inline-block;
    }

    #first-section .row {
        flex-direction: column-reverse;
    }

    #first-section .left {
        text-align: center;
        padding: 0 40px 0 40px !important;
    }

    #first-section .left h1 {
        font-size: 36px !important;
        font-weight: 700;
    }

    #about-me .row {
        flex-direction: column;
    }

    #about-me .left {
        display: flex;
        align-items: baseline;
    }

    #about-me .right {
        display: flex;
        align-items: center;
        padding: 0 40px 40px 40px !important;
        text-align: center;
    }

    #recipies .card-row {
        flex-direction: column;
    }

    #counter .row {
        flex-direction: column;
    }

    #counter .custom {
        padding: 0 !important;
        text-align: center;
    }

    #counter .right .custom {
        padding-bottom: 30px !important;
    }

    #counter .right .custom h1 {
        font-size: 30px;
    }
}